<div class="container-fluid">
  <div>
    <h1>{{ message }}</h1>
    <input type="file" (change)="onFileChange($event)" />
    <table>
      <thead>
        <tr>
          <th>ID</th>

          <th>DD</th>
          <th>EE</th>
          <th>Equipo</th>
          <th>Jefe Inmediato</th>
          <th>Nombre Completo</th>
          <th>PA</th>
          <th>Puesto</th>
          <th>End</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of surveyData">
          <td>{{ data._id }}</td>
          <td>{{ data.DD }}</td>
          <td>{{ data.EE }}</td>
          <td>{{ data.Equipo }}</td>
          <td>{{ data.Jefe_Inmediato }}</td>
          <td>{{ data.Nombre_Completo }}</td>
          <td>{{ data.PA }}</td>
          <td>{{ data.Puesto }}</td>
          <td>{{ data.end }}</td>
          <td>{{ data.Cometarios }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
